#Pære {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 10px;
    transition: filter 0.3s ease; 



}

#Knapp {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}


#Pære.lyser {
    filter: sepia(100%) hue-rotate(45deg) saturate(500%);
    box-shadow: 0 0 30px 30px rgba(255, 223, 0, 0.7);
}