#Pære {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 10px;
    transition: filter 0.3s ease; 
    opacity: 0.4;
    transition: opacity 0.5 ease;



}

#Knapp {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}


#Pære.lyser {
    filter: sepia(100%) hue-rotate(45deg) saturate(500%);
    box-shadow: 0 0 30px 30px rgba(254, 6, 6, 0.7);
    opacity: 1;
}

div{
    margin-left: 840px;
    border-style: double;
    width: 30px; 
    border-radius: 70px;
    padding: 2px;
    font-size: large;
    
}
