@keyframes moveBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 100%;
    }
}


body {
    background-image: url(fjell.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: moveBackground 10s infinite linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;


}

p{
    font-size: 24px;
    color: lightblue;
    text-align: center;
    text-shadow: 2px 2px 4px black;

}





#buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

button {
    background-color: transparent;
    border-radius: 30%;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-color: lightblue;
    text-shadow: 2px 2px 4px black;



}



